.instructions {
    width: 200px;
    height: 100%;
    padding: 10px;
    border-left: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions > p {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
